<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="com.jstar.eclipse.objectContribution1"
            nameFilter="*.java"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="com.jstar.eclipse.actions.ContextMenuVerificationConfigAction"
               enablesFor="1"
               id="com.jstar.eclipse.verification.configuration.action"
               label="Verify Configurations..."
               menubarPath="com.jstar.eclipse.context.menu/com.jstar.eclipse.separator1"
               style="push"
               tooltip="Verify java source">
         </action>
         <menu
               icon="icons/jStar.gif"
               id="com.jstar.eclipse.context.menu"
               label="jStar Verification"
               path="additions">
            <separator
                  name="com.jstar.eclipse.separator1">
            </separator>
         </menu>
         <action
               class="com.jstar.eclipse.actions.ContextMenuVerificationAction"
               enablesFor="1"
               id="com.jstar.eclipse.verification.action"
               label="Verify"
               menubarPath="com.jstar.eclipse.context.menu/com.jstar.eclipse.separator1"
               style="push"
               tooltip="Verify java source">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="jstar.verification.marker"
         name="jStar verification error"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.jstar.eclipse.preferences.Configuration"
            id="com.jstar.eclipse.preferences.Configuration"
            name="jStar Configuration">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.jstar.eclipse.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.jstar.eclipse.jstar.verification.action"
            label="jStar Verification"
            visible="true">
         <action
               class="com.jstar.eclipse.actions.ToolbarVerificationAction"
               icon="icons/jStar.gif"
               id="com.jstar.eclipse.verification.action.from.toolbar"
               label="jStar Verification"
               style="pulldown"
               toolbarPath="Normal/additions"
               tooltip="Verify with jStar">
         </action>
      </actionSet>
   </extension>

</plugin>
