<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="com.jstar.eclipse.objectContribution1"
            nameFilter="*.java"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="com.jstar.eclipse.actions.ContextMenuVerificationConfigAction"
               enablesFor="1"
               id="com.jstar.eclipse.verification.configuration.action"
               label="%action.label"
               menubarPath="com.jstar.eclipse.context.menu/com.jstar.eclipse.separator1"
               style="push"
               tooltip="%action.tooltip">
         </action>
         <menu
               icon="icons/jStar.gif"
               id="com.jstar.eclipse.context.menu"
               label="%menu.label"
               path="additions">
            <separator
                  name="com.jstar.eclipse.separator1">
            </separator>
         </menu>
         <action
               class="com.jstar.eclipse.actions.ContextMenuVerificationAction"
               enablesFor="1"
               id="com.jstar.eclipse.verification.action"
               label="%action.label.0"
               menubarPath="com.jstar.eclipse.context.menu/com.jstar.eclipse.separator1"
               style="push"
               tooltip="%action.tooltip.0">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="jstar.verification.marker"
         name="%extension.name"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.jstar.eclipse.preferences.JStarPreferencePage"
            id="com.jstar.eclipse.preferences.jStar"
            name="%page.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.jstar.eclipse.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.jstar.eclipse.verification"
            name="Verify with jStar">
      </command>
      <command
            id="com.jstar.eclipse.verification.config"
            name="Verify with jStar Configurations...">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="com.jstar.eclipse.toolbar1">
            <command
                  commandId="com.jstar.eclipse.verification"
                  style="pulldown">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="menu:com.jstar.eclipse.verification">
         <command
               commandId="com.jstar.eclipse.verification.config"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.jstar.eclipse.handlers.VerificationHandler"
            commandId="com.jstar.eclipse.verification">
         <activeWhen>
            <with
                  variable="activeEditorInput">
               <adapt
                     type="org.eclipse.core.resources.IFile">
                  <test
                        property="org.eclipse.core.resources.extension"
                        value="java">
                  </test>
               </adapt>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.jstar.eclipse.handlers.VerificationConfigHandler"
            commandId="com.jstar.eclipse.verification.config">
         <activeWhen>
            <with
                  variable="activeEditorInput">
               <adapt
                     type="org.eclipse.core.resources.IFile">
                  <test
                        property="org.eclipse.core.resources.extension"
                        value="java">
                  </test>
               </adapt>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="com.jstar.eclipse.verification"
            icon="icons/jStar.gif">
      </image>
   </extension>

</plugin>
